
.video-preview{
padding-top: 60px;


}

.thumbnail{
width: 100%;
border-radius: 10px;
cursor: pointer;


}
.video-time{
    
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 5px;
    position: absolute;
    bottom: 12px;
    right: 8px;
    
    padding: 3px;
    
    }

.channel-info-grid{
display: grid;
grid-template-columns: 45px 1fr;
}
.video-grid{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
column-gap: 20px;
row-gap: 20px;
padding-top: 90px;
}

@media (min-width: 499px ){
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
    
}
@media (max-width: 500px ){
    .video-grid{
        grid-template-columns: 1fr  ;
    }
    
}
@media (min-width: 900px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr ;
    }
}

@media (min-width: 1300px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr ;
    }
}

.video-title{


margin-top: 0;
font-weight: 500;
font-size: 16px;
line-height: 22px;
margin-bottom: 4px;

}

.video-stats{
font-size: 14px;
font-weight: 400px;
line-height: 20px;

}
.video-author{
font-size: 14px;
color: rgb(0, 173, 238);
font-weight: 400;
line-height: 20px;
margin-bottom: 2px;
cursor: pointer;

     
}

.profile-picture{

width: 30px;
vertical-align: top;
margin-right: 8px;
cursor: pointer;
}
.profile-1{

border-radius: 30px;
width: 35px;
cursor: pointer;
}
.video-info{
display: inline-block;
width: 100%;
}
.thumbnail-style{
margin-bottom: 8px;
position: relative;
}
.profile-2{
border-radius: 30px;
width: 35px;
cursor: pointer;
}
